*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #071c01;
  color: #dddde7;

}
a{
  text-decoration: none;
}
.nav-bar,.registerbtn {
  background-color: #e4952f;
}
.logo {
  font-family: 'Hanalei', cursive;
  color:#a81a02;
  background-color: #f2b566;
  padding: .3rem 1.3rem;
  border-radius: 6px;
  letter-spacing: .3rem;
  font-weight: bold;
  font-size: 1.8rem;
  transition: .3s;
}
.logo:hover{
  color:#f2b566;
  background-color:#a81a02 ;
}
.navLink {
  color: #071c01;
}
.navLink:hover {
  /* color: #dddde7; */
  color: #071c01;
  text-decoration: underline;

}
.form-label{
  color: #dddde7;

}
.movie-list {
  /* color: #fb8962; */
  color: #fcc03d;
  text-align: center;
}
.movie-list-container {
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* background-color: pink; */
}

.card {
  width: 15rem;
  /* width: 32%; */
  background-color: #3b3507;
  background-color: #2c3529;
  border: 3px solid #fcc03d;
  position: relative;
}
.rated{
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  padding: 5px;
  border-bottom-right-radius: 5px;
  background-color: rgba(0, 0, 0, 0.655);
  display: flex;
}
.star{
width: 1.5rem;
height: 1.5rem;
margin-right: 5px;
}
.home-movie-overlay{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
width: 100%;
height: 100%;
top: 0;
opacity: 0;
transition: .2s;
display: flex;
align-items: center;
justify-content: center;
font-weight: bolder;
font-size: 2rem;
}
.card:hover .home-movie-overlay{
  opacity: 1;

}
.oneMovieImage{
  border: 3px solid #fcc03d;

}
.hero{
  /* height: 40vh; */
  width: 100%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  background-color: gold;
}
.hero> img{
  /* width: 200px; */
  width: 100%;
  height: 40vh;
}
.red{
  background-color: red;
}
.pink{
  background-color: pink;
}
.blue{
  background-color: blue;
}
.gold{
  background-color: gold;
}
.searchForm{
  width: 80%;
  display: flex;
  align-items: center;
}
.searchInput{
  width: 80%;
  padding: .4rem;
  border-radius: 3px;
  border:0em;
}
.userForm {
  border: 1px solid #b2b2b2;
  border-radius: .8rem;
}
.reglogBtn{
  background-color: whitesmoke;
}
.divider{
  width: 100%;
  height: 1.5px;
  background-color: #fff;
  position: relative;
  opacity: .4;
  margin: 2rem 0;
}
.divider >span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 0 20px;
  background-color: #071c01;
  color: #fff;
}

